/* Background CSS */
body {
    margin: 0;
    background: #222;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

/* Large Screen */
/* Wrapper */
#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;
  }
  
  /* Hide Hamburger */
  #hamnav label, #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  /*flex spot One */
  #hamitems { display: flex; }
  #hamitems a {
    width: 20%;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: slategray
  }
  
  /* Small Screen CSS */
  @media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: slategray;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      padding-top: 20px;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }

/* Font Focused Nav CSS */
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Footer CSS */
footer {
background-color: slategray;
}

/* Centers My Logo */
.footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Copy CSS */
h1 {
color: white;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

p {
color: white;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

/* Return function button CSS */
.button {
background-color:white;
border: slategray;
font-size: 19px;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
display: inline-block;
}


/* Thumbnail CSS for each location page */
.thumbnails img {
    height: 80px;
    border: 4px solid slategray;
    padding: 1px;
    margin: 0 10px 10px 0;
}
/* CSS for when hovering over thumbnails */
.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
}
/* CSS for preview image */
.preview img {
    border: 4px solid slategray;
    padding: 1px;
    width: 30%;
}
/* CSS for Home page content*/
/* flexbox spot two */
#container {
  display: flex;
  flex-wrap: wrap;
}

/* More media queries to make page more responsive */
@media screen and ( max-width: 1024px ) {
  img.responsive { width: 200px;
  }
  @media screen and ( min-width: 1025px) {
  img.responsive { width: 33%;}
  }
  img.responsive { height: auto; }

  @media screen and ( max-width: 600px) {
    img.responsive { width: 33%;}
    }
    img.responsive { height: auto; }